@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

@layer base {
  [type='text'],
  [type='submit'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  button,
  textarea,
  .editable,
  select {
    @apply w-full border-gray-300 rounded-lg shadow-sm focus:border-indigo-500 focus:ring-indigo-500 bg-slate-200 mt-1;
  }
  button {
    @apply p-2 hover:bg-gray-300 transition-colors bg-slate-300 w-[99%];
  }
  [type='checkbox'],
  [type='radio'] {
    @apply rounded border-gray-300 text-indigo-500 focus:ring-indigo-500 mr-2 cursor-pointer;
  }
  [type='submit'] {
    @apply cursor-pointer hover:bg-slate-300;
  }
}
.editable {
  @apply p-2;
}
form {
  @apply m-2;
}
form div {
  @apply px-2 flex items-center;
}
label span {
  @apply text-red-400 float-right pr-2 italic;
}
h6 {
  @apply text-lg;
}
h5 {
  @apply text-xl;
}
h4 {
  @apply text-2xl;
}
h3 {
  @apply text-3xl;
}
h2 {
  @apply text-4xl;
}
h1 {
  @apply text-5xl;
}
.links {
  @apply flex flex-wrap gap-1 m-1;
}
.link {
  @apply bg-slate-100 hover:bg-slate-300 p-2 px-4 rounded-md border border-slate-200 flex cursor-pointer;
}
.links a {
  @apply link;
}
.lg-react-element {
  @apply flex gap-1 justify-center items-center p-2 flex-wrap w-3/4 mx-auto;
}

.lg-react-element img {
  @apply p-1;
}

.contact,
.server,
.method,
.setup,
.device {
  @apply flex flex-col  border mb-1;
}

.item {
  @apply px-2 flex items-center justify-between;
}
label {
  @apply w-[100px] mr-2 text-gray-500 tracking-tight;
}

input {
  @apply outline-none;
}

svg {
  @apply text-gray-500 text-[30px] ml-1 hover:cursor-pointer hover:text-gray-800;
}
svg.disabled {
  @apply cursor-default;
}

nav svg {
  @apply ml-0;
}

.item {
  /* @apply w-full; */
}

.showItem {
  @apply flex items-center cursor-pointer;
}
.showItem span {
  @apply ml-2;
}
svg.groupSub {
  @apply cursor-pointer transition;
  /* @apply group-hover:translate-x-0 cursor-pointer transition translate-x-1; */
}
span.groupSub {
  @apply transition cursor-pointer;
}
.groupMaster {
  @apply showItem delay-500 transition-all flex items-center justify-between select-none;
}
.transIn {
  @apply transition-all ease-in p-1 flex flex-col md:flex-row flex-wrap justify-center max-h-full bg-gray-100;
}
.transOut {
  @apply transition-all scale-y-0 max-h-0 ease-out;
}
.sub {
  @apply border border-gray-200 mb-1 w-full md:w-1/2 lg:w-1/3 xl:w-1/4;
}
.sub > div {
  @apply m-1 p-1;
}
.radioLabel {
  @apply flex items-center w-[300px] cursor-pointer;
}
fieldset {
  @apply border border-gray-400 m-4 p-2 rounded-md flex flex-col;
}
legend {
  @apply m-1 p-1 text-gray-500;
}
[type='text'] {
  @apply focus:ring-0;
}
.item input[type='text'] {
  @apply focus:border-indigo-500 focus:ring-indigo-500;
}
.recent {
  @apply text-indigo-800;
}
.recent button {
  @apply bg-indigo-200 text-indigo-800 border border-indigo-400 hover:border-indigo-500 hover:bg-indigo-100;
}
nav {
  @apply bg-indigo-300;
}
body {
  @apply bg-bottom bg-no-repeat bg-indigo-200 bg-cover;
}

.radio,
.checkbox {
  @apply bg-blue-100 p-3 mb-1 rounded-md select-none flex flex-col w-full;
}
.radio label,
.checkbox label {
  @apply select-none w-[120px];
}

.error {
  @apply flex flex-col justify-center items-center m-3 p-4 gap-3;
}
.editForm {
  @apply flex flex-col w-3/4 mt-9 mx-auto rounded-md;
}
.editForm span {
  /* @apply bg-indigo-300 p-2 rounded-md; */
}
.editForm > form {
  @apply bg-indigo-300 rounded-md m-0 my-2 p-4;
}
.editForm button {
  @apply w-1/6;
}
/* =================== */
.toggle {
  --width: 40px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  display: inline-block;
  cursor: pointer;
}
.toggle__input {
  display: none;
}
.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;
}
.toggle__fill::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}
.toggle__input:checked ~ .toggle__fill {
  background: #009578;
}
.toggle__input:checked ~ .plus {
  display: inline-block;
}
.toggle__input:checked ~ .copy {
  display: hidden;
}

.toggle__input ~ .copy {
  display: inline-block;
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
}
